{% extends 'layout.twig' %}

{% block title %}Almacenar libros{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="text-center text-muted">Actualizar libro</h1>
        </div>
        <hr class="my-4 text-success" style="border: solid 2px"/>

        {% include 'form_errors.twig' %}
          {% include 'form_success.twig' %}

        <form method="post">

            <div class="form-group mt-2">
                <label for="titulo">titulo</label>
                <input type="text" id="titulo" name="titulo" value="{{book.titulo}}" class="form-control"/> 
            </div>

            <div class="form-group mt-2">
                <label for="isbn">isbn</label>
                <input type="text" id="isbn" name="isbn" value="{{book.isbn}}" class="form-control"/> 
            </div>

            <div class="form-group mt-2">
                <label for="fechaIngreso">Fecha de ingreso</label>
                <input type="date" id="fechaIngreso" name="fechaIngreso" value="{{book.fechaIngreso}}" class="form-control"/> 
            </div>      

              <div class="form-group mt-2">
                <label for="estado">estado</label>
                <input type="text" id="estado" name="estado" value="{{book.estado}}" class="form-control"/> 
            </div>

            <div class="form-group mt-2">
                <div class="form-check">
                    <label for="disponible">disponible</label>
                    <input type="checkbox" id="disponible" name="disponible"   {% if book.disponible != null %}checked{% endif %} class="form-check-input"/>                 
                </div>
            </div>

            <div class="form-group mt-2">
                <label for="autor">autor</label>
                <input type="text" id="autor" name="autor" value="{{book.autor}}" class="form-control"/> 
            </div>

            <div class="form-group mt-2">
                <label for="autor">anio</label>
                <input type="text" id="anio" name="anio" value="{{book.anio}}" class="form-control"/> 
            </div>
        

            <div class="form-group mt-2">
                <input type="submit" name="btn_guardar" value="Actualizar" class="btn btn-success" />
            </div>                       
            
        </form>
    </div>
{% endblock %}